/* Класи для футеру сторінки */
.footer{
    background-color: #73131D;
    padding: 0px 20px 32px 20px;   
    
}

.footer-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 26px;
    gap:24px
   
}

.footer-logo{
   
   
    color: #fff;
}

.footer-logo:hover{
  opacity: 50%;;
}
.footer-logo:focus{
  opacity: 50%;
}

.nav-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:32px;
}

.nav-link{
 font-size: 16px; 
 color: #fff;
}
.nav-link:hover{
    opacity: 50%;
}
.nav-link:focus{
    opacity: 50%;
}

.footer-soc-list{
    display: flex;
    gap:24px;
   
    
    line-height: 0.6;
}

.footer-soc-icon{
    fill: #fff;
}
.footer-soc-icon:hover{
    opacity: 50%;
}
.footer-soc-icon:focus{
    opacity: 50%;
}

.footer-soc-icon-insta{
  fill:black
}
.footer-soc-icon-insta:hover, .footer-soc-icon-insta:focus{
  opacity: 50%;
}
.footer-bottom-text{
  color:#fff;
  font-size: 12px;

}

@media only screen and (min-width: 768px){

    .nav-list{
        flex-direction: row;
    }

}
@media only screen and (min-width: 1440px){
    .footer{
        padding-right:60px ;
    }

 .footer-wrap{
        flex-direction: row;
        gap:80px;
        align-items: center;
    }
  .footer-logo{
    margin-bottom: 0;
  }  
 .footer-logo svg {
    vertical-align: middle; 
  }
  .nav-wrap{
    order: 3;
    
}

    .footer-bottom-text{
  order: 2;
   font-size: 14px;
}
  
  .footer-soc-list{
    order:4;
    
  } 
 
   
}

