.theme-toggle-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 48px;
  height: 48px;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  background-color: #1e1e1e;
  z-index: 10;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    transform: scale(1.2);
  }

  &:active {
    transform: scale(0.9);
  }
}

body.theme-dark .theme-toggle-button {
  background-color: #fff;
}

body.theme-dark {
  background-color: #1e1e1e;
  color: #ffffff;

  & .faq-item.ac.js-enabled,
  & .about-us,
  & .furniture-list-item,
  & .popular-list-item,
  & .mobile-menu-top,
  & .header {
    background-image: linear-gradient(360deg, #1e1e1e, #111, #000);
  }

  & .modal-close-icon,
  & .icon.icon-arrow,
  & .logo-icon,
  & .header-burger-icon,
  & .close-icon {
    fill: #ffffff;
  }

  & .modal-order,
  & .about-us,
  & .modal-product .container,
  & .modal-navbar,
  & .mob-menu-wrapper {
    background-color: #1e1e1e;
  }

  & .furniture-details-btn,
  & .popular-details-btn {
    background-color: #6b0609;
    color: #ffffff;
  }

  & .furniture-list-item {
    border-radius: 8px;
  }

  & .modal-comment-textarea,
  & .modal-input,
  & .modal-label p,
  & .modal-comment-label p,
  & .modal-title,
  & .faq-answer.ac-panel,
  & .faq-item .faq-question.ac-trigger {
    color: #ffffff;
  }

  & .swiper-pagination-bullet,
  & .theme-toggle-button,
  & .swiper-pagination-bullet-active {
    background-color: #fff;
  }

  & .modal-input,
  & .modal-comment-textarea {
    border-color: #ffffff;
  }

  & .modal-input.is-invalid {
    border-color: #6b0609;
  }
}

@media only screen and (min-width: 768px) {
  .theme-toggle-button {
    width: 56px;
    height: 56px;
  }

  body.theme-dark {
    & .modal-navbar {
      background-color: rgba(27, 26, 26, 0.5);
    }
  }
}

@media only screen and (min-width: 1440px) {
  .theme-toggle-button {
    width: 40px;
    height: 40px;
  }
}
